<!doctype html>
<html ng-app='presenceApp'>
<head>
  <title>Presence | Dashboard</title>
  <!-- Angular -->
  <script src="vendor/angular/angular.min.js"></script>
  <!-- Firebase -->
  <script src="https://cdn.firebase.com/js/client/2.2.4/firebase.js"></script>
  <!-- AngularFire -->
  <script src="https://cdn.firebase.com/libs/angularfire/1.1.3/angularfire.min.js"></script>
  <!-- Angular vendors -->
  <script src="vendor/angular-ui-router/release/angular-ui-router.min.js"></script>
  <script src="vendor/angular-resource/angular-resource.min.js"></script>
  <!-- Angular files -->
  <script src="js/app.js"></script>
  <script src="js/resources.js"></script>
  <script src="js/directives.js"></script>
  <script src="js/controller.js"></script>
  <link rel="stylesheet" href="/css/normalize.css" media="screen" title="no title" charset="utf-8">
  <link rel="stylesheet" href="/css/style.css" media="screen" title="no title" charset="utf-8">
</head>

<body ng-controller="MainCtrl">

  <div class="container">
    <div class="sidebar">
      <img class="sidebar-image" src="img/makeschool-logo.svg" alt="Make School logo" />
      <!-- Head title -->
      <h1 class="white center-text">Presence</h1>
      <h2 class="white center-text">Dashboard</h3>
      <p class="white center-text">v.0.1 Beta</p>

      <div class="sidebar-main">
        <!-- Summon button -->
        <action-button title="SUMMON" ng-click="summon()"></action-button>

        <!-- Sidebar listss -->
        <div class="sidebar-lists">
          <div class="sidebar-list">
            <h4 class="white">
              In <span class="counter" ng-model="usersIn">({{usersIn.length}})</span>
            </h4>
            <div ng-repeat="user in usersIn | limitTo: 5">
              <li class="white">{{user.name}}</li>
            </div>
            <p class="white" ng-show="usersIn.length > 5">...</p>
          </div>
          <div class="sidebar-list">
            <h4 class="white">
              Out <span class="counter" ng-model="usersOut">({{usersOut.length}})</span>
            </h4>
            <div ng-repeat="user in usersOut | limitTo: 5">
              <li class="white">{{user.name}}</li>
            </div>
            <p class="white" ng-show="usersOut.length > 5">...</p>
          </div>
        </div>
      </div>
      <!-- Log in / Log out -->
      <div class="login-button" ng-click="loginLogout()">
        <p>LOG OUT</p>
      </div>
    </div>

    <div class="main">
      <!-- Search bar -->
      <div class="search-bar">
        <input class="search-field" type="text" ng-model="searchText" ng-change="onSearchQueryChange()" placeholder="Search user" />
        <div class="search-button" ng-click="performSearch()">
          <img src="img/search-icon.svg" alt="Search icon" />
        </div>
      </div>

      <p class="results-string" ng-model="results">
        <ng-pluralize count="results.length" when="{'0': 'No results.', '1': '1 result.', 'other': '{} results.'}"></ng-pluralize>
      </p>

      <!-- Results -->
      <div class="cards-wrapper">
        <result-cards class="cards" data="results"></result-cards>
      </div>
    </div>
  </div>

</body>
</html>
