/* styles.css */

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(249, 247, 247);
}

/* colors */

.white {
  color: rgb(255, 255, 255);
}

/* alignments */

.center-text {
  text-align: center;
}

/* container */

.container {

}

/* sidebar */

.sidebar {
  flex-flow: column;
  background-color: rgba(38, 38, 38, 1);
  width: 240px;
  min-height: 100vh;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 50px;
  position: fixed;
}

.sidebar-image {
  display: block;
  width: 180px;
  height: auto;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 20px;
}

.sidebar h1 {
  margin: 0;
  font-weight: 200;
  font-size: 2.3em;
  letter-spacing: 1px;
}

.sidebar h2 {
  margin: 3px 0 0 0;
  font-weight: 600;
  font-size: 1.2em;
  letter-spacing: 1px;
}

.sidebar p {
  margin-top: 7px;
  font-weight: 100;
}

.sidebar-main {
  margin-top: 30px;
}

.sidebar-lists {
  margin-top: 30px;
}

.sidebar-list {
  margin-top: 30px;
}

.sidebar-list h4 {
  margin-bottom: 10px;
  font-size: 1.4em;
}

.counter {
  font-weight: 100;
  font-size: 0.7em;
}

.sidebar-list li {
  margin-top: 3px;
  list-style: none;
  font-weight: 200;
}

.sidebar-list p {
  margin: 0;
  padding: 0;
  line-height: 11px;
  font-size: 1.4em;
}

/* action button */

.action-button {
  display: flex;
  margin: auto;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
  width: 240px;
  height: 44px;
  background-color: white;
  color: rgba(38, 38, 38, 1);
  border-radius: 5px;
}

.action-button:hover {
  opacity: 0.5;
  cursor: pointer;
}

/* bottom sidebar */

.login-button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 300px;
  height: 44px;
  left: 0;
  bottom: 0;
  color: rgb(255, 255, 255);
  font-size: 0.9em;
  text-align: center;
  font-weight: 200;
  letter-spacing: 1.5px;
  background-color: rgba(0, 0, 0, 0.4);
}

.login-button:hover {
  background-color: rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

/* main */

.main {
  margin-left: 300px;
  padding-top: 50px;
}

.search-bar {
  flex-direction: row;
  position: relative;
  margin: auto;
  padding: 2px 20px;
  width: 80%;
  height: 50px;
  border-radius: 3px;
  border-width: 0;
  box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.13);
  overflow: hidden;
  background-color: rgb(255, 255, 255);
}

.search-field {
  height: 100%;
  width: 80%;
  border: none;
  outline: none;
  background-color: rgba(255, 255, 255, 0);
}

.search-button {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  bottom: 0;
  right: 0;
  width: 100px;
  height: 100%;
  background-color: rgb(72, 178, 232);
  position: absolute;
}

.search-button:hover {
  background-color: rgb(56, 148, 196);
  cursor: pointer;
}

.search-button img {
  padding-top: 5px;
  width: 60px;
  height: auto;
}

.results-string {
  text-align: center;
  margin-top: 30px;
  font-style: italic;
  font-weight: 200;
  color: rgb(98, 98, 98);
}

.cards-wrapper {
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.cards {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: flex-start;
  margin: 5px 0 50px 0;
  width: 990px;
}

.result-card {
  display: inline-flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  margin: 15px 15px;
  width: 300px;
  height: 300px;
  text-align: center;
  background-color: rgb(255, 255, 255);
  border-radius: 3px;
  box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.13);
}

.user-details {
  flex-direction: column | row;
}

.result-card h1 {
  margin: 20px 0 0 0;
  padding: 0;
  justify-content:flex-start;

  color: rgb(37, 37, 37);
  font-size: 1.4em;
  font-weight: 300;
}

.result-card p {
  margin: 0;
  margin-top: 5px;
  font-size: 0.9em;
}

.indicator-green {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: rgb(63, 204, 77);
}

.indicator-red {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: rgb(232, 57, 57);
}

.profile-picture {
  background-color: rgb(246, 246, 246);
  width: 50%;
  height: 50%;
  border-radius: 50%;
}

/* Breakpoints */

@media (min-width: 1680px) {

  .cards {
    width: 1320px;
  }

}

@media (min-width: 960px) and (max-width: 1290px) {

  .cards {
    width: 660px;
  }

}

@media (min-width: 640px) and (max-width: 960px) {

  .cards {
    width: 330px;
  }

}
